/.editorconfig     export-ignore
/.gitattributes    export-ignore
/.githooks         export-ignore
/.github           export-ignore
/.gitmessage       export-ignore
/ai                export-ignore
/behat.yml.dist    export-ignore
/compose.yml       export-ignore
/docs              export-ignore
/ecs.php           export-ignore
/etc               export-ignore
/features          export-ignore
/Makefile          export-ignore
/phpstan.neon      export-ignore
/phpunit.xml.dist  export-ignore
/rector.php        export-ignore
/tests             export-ignore
/AGENTS.md         export-ignore
/CLAUDE.md         export-ignore
